Repository openstack/openstack-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-zuul-jobs-test-mirror-info, openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-puppet-tarball, build-openstack-api-ref, build-openstack-api-guide, build-openstack-deploy-guide, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, build-openstack-specs-site, project-config-dib, project-config-infra-docs-index, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Path conditions:
  openstack-zuul-jobs-test-mirror-info: any of: ^roles/mirror-info/.*, ^tests/.*
  openstack-tox-py27: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py35: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pypy: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-cover: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py35: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-snap-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-with-oslo-master-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py27-with-oslo-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-oslo-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-neutron-lib-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-ovsdbapp-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-lower-constraints: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  build-openstack-puppet-tarball: any of: ^metadata.json$
  build-openstack-api-ref: any of: ^os_api_ref/.*, ^api-ref/.*, ^doc/api_samples/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-api-guide: any of: ^api-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-deploy-guide: any of: ^deploy-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-install-guide: any of: ^install-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt
  project-config-gerrit: any of: ^gerrit/acls/.*$, bindep.txt, tools/check_valid_gerrit_projects.py, gerrit/projects.yaml, other-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/check_valid_gerrit_config.sh, tox.ini, zuul/main.yaml
  project-config-grafyaml: any of: ^grafana/.*$, bindep.txt, other-requirements.txt, tox.ini
  project-config-irc-access: any of: bindep.txt, accessbot/channels.yaml, gerritbot/channels.yaml, other-requirements.txt, tools/check_irc_access.py, tools/check_channels_yaml.sh, tools/irc_tests.py, tools/normalize_channels_yaml.py, tools/projectconfig_yamllib.py, tox.ini
  project-config-nodepool: any of: ^nodepool/nodepool.yaml, ^nodepool/nl.*yaml$, bindep.txt, other-requirements.txt, tox.ini
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-dib: any of: ^nodepool/elements/.*$, bindep.txt, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  puppet-beaker-rspec-infra: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  puppet-beaker-rspec-puppet-4-infra: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  puppet-beaker-rspec-puppet-4-centos-7-infra: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  openstackci-beaker-puppet-4: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  openstack-infra-extra-integration-xenial: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  openstack-infra-extra-integration-bionic: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  legacy-puppet-beaker-rspec: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-beaker-rspec-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-3.6-legacy-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-3.8-legacy-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-4.8-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-neutron-src: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-neutron-src-plugin: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  openstack-tox-py34: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$

Remove legacy-tempest-dsvm-full-devstack-plugin-ceph
  playbooks/legacy/tempest-dsvm-full-devstack-plugin-ceph/post.yaml
  playbooks/legacy/tempest-dsvm-full-devstack-plugin-ceph/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

remove networking-ovs-dpdk legacy job
  playbooks/legacy/tempest-dsvm-networking-ovs-dpdk/post.yaml
  playbooks/legacy/tempest-dsvm-networking-ovs-dpdk/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

translation job: Fix horizon installation
  roles/prepare-zanata-client/files/common_translation_update.sh
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Update Zanata script for Python 3.5
  roles/prepare-zanata-client/files/query-zanata-project-version.py
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Fix get-modulename.py for python3
  roles/prepare-zanata-client/files/get-modulename.py
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove legacy-dox-buildimages job
  playbooks/legacy/dox-buildimages/post.yaml
  playbooks/legacy/dox-buildimages/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove jobs and templates used by js-openstack-lib
  playbooks/legacy/js-openstack-lib-dsvm-nodejs4-npm-run-functional-test/post.yaml
  playbooks/legacy/js-openstack-lib-dsvm-nodejs4-npm-run-functional-test/run.yaml
  playbooks/legacy/js-openstack-lib-dsvm-nodejs6-npm-run-functional-test/post.yaml
  playbooks/legacy/js-openstack-lib-dsvm-nodejs6-npm-run-functional-test/run.yaml
  playbooks/legacy/js-openstack-lib-nodejs6-npm-sdk-docs/run.yaml
  zuul.d/project-templates.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add CentOS 8 openafs package build job
  playbooks/package-afs-centos/centos7/post.yaml
  playbooks/package-afs-centos/centos7/run.yaml
  playbooks/package-afs-centos/centos8/post.yaml
  playbooks/package-afs-centos/centos8/run.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Require JDK 8 for translations
  roles/prepare-zanata-client/vars/Debian.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Force python2 on CentOS 7 d-g legacy job
  playbooks/legacy/tempest-dsvm-neutron-full-centos-7/run.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

package-afs-centos: fix centos8 build
  playbooks/package-afs-centos/centos8/run.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Update ansible-lint
  roles/configure-swap/tasks/ephemeral.yaml
  test-requirements.txt
  tox.ini
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-api-ref, build-openstack-api-guide, build-openstack-deploy-guide, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, build-openstack-specs-site, project-config-dib, project-config-infra-docs-index, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Removed OpenstackId Legacy Jobs
  playbooks/legacy/laravel-openstackid-release-branch/post.yaml
  playbooks/legacy/laravel-openstackid-release-branch/run.yaml
  playbooks/legacy/laravel-openstackid-release-master/post.yaml
  playbooks/legacy/laravel-openstackid-release-master/run.yaml
  playbooks/legacy/laravel-openstackid-unittests/post.yaml
  playbooks/legacy/laravel-openstackid-unittests/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove zmq-event-publisher jobs
  playbooks/legacy/zmq-event-publisher-hpi-artifact/post.yaml
  playbooks/legacy/zmq-event-publisher-hpi-artifact/run.yaml
  playbooks/legacy/zmq-event-publisher-jenkinsci-upload/run.yaml
  playbooks/legacy/zmq-event-publisher-maven-build-ubuntu-trusty/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove legacy-puppet-openstack-infra-spec-helper-unit-ubuntu-trusty
  playbooks/legacy/puppet-openstack-infra-spec-helper-unit-ubuntu-trusty/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Move legacy-gearman-plugin-mavin-build away from Trusty
  playbooks/legacy/gearman-plugin-maven-build/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove legacy-ubuntu-trusty nodeset
  playbooks/legacy/gearman-plugin-maven-build-ubuntu-trusty/run.yaml
  zuul.d/nodesets.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Update docs building
  doc/requirements.txt
  setup.cfg
  test-requirements.txt
  tox.ini
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-api-ref, build-openstack-api-guide, build-openstack-deploy-guide, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, build-openstack-specs-site, project-config-dib, project-config-infra-docs-index, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Increase hacking version
  roles/prepare-zanata-client/files/get-modulename.py
  test-requirements.txt
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-api-ref, build-openstack-api-guide, build-openstack-deploy-guide, build-openstack-install-guide, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove legacy bgpvpn jobs
  playbooks/legacy/networking-bgpvpn-bagpipe-dsvm-functional/post.yaml
  playbooks/legacy/networking-bgpvpn-bagpipe-dsvm-functional/run.yaml
  playbooks/legacy/networking-bgpvpn-bagpipe-dsvm-install/post.yaml
  playbooks/legacy/networking-bgpvpn-bagpipe-dsvm-install/run.yaml
  playbooks/legacy/networking-bgpvpn-dsvm-functional/post.yaml
  playbooks/legacy/networking-bgpvpn-dsvm-functional/run.yaml
  playbooks/legacy/networking-bgpvpn-dsvm-install/post.yaml
  playbooks/legacy/networking-bgpvpn-dsvm-install/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Use python3 in release-notes-jobs
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove legacy-tempest-dsvm-full-bdd job
  playbooks/legacy/tempest-dsvm-full-bdd/post.yaml
  playbooks/legacy/tempest-dsvm-full-bdd/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove puppet-forge jobs
  playbooks/legacy/puppet-httpd-forge-upload/run.yaml
  playbooks/legacy/puppet-storyboard-forge-upload/run.yaml
  zuul.d/jobs.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove legacy run-jsbuild.sh
  roles/legacy-copy-jenkins-scripts/files/run-jsbuild.sh
  roles/legacy-copy-jenkins-scripts/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove mirror-info role and tests
  roles/mirror-info/README.rst
  roles/mirror-info/tasks/main.yaml
  roles/mirror-info/templates/mirror_info.sh.j2
  tests/base.yaml
  tests/mirror-info.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-zuul-jobs-test-mirror-info, openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Use a fake zuul_return and an .ansible-lint file
  .ansible-lint
  bindep.txt
  test-requirements.txt
  tests/fake-ansible/library/zuul_return.py
  tox.ini
Due: openstack-zuul-jobs-test-mirror-info, openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-api-ref, build-openstack-api-guide, build-openstack-deploy-guide, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, build-openstack-specs-site, project-config-dib, project-config-infra-docs-index, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Fix translation jobs following horizon change
  roles/prepare-zanata-client/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Follow devstack-plugin-nfs rename
  playbooks/legacy/tempest-dsvm-full-devstack-plugin-nfs/run.yaml
  playbooks/legacy/tempest-dsvm-multibackend-matrix/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Don't run infra-puppet-apply on docker and ansible
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Removed unused infra spec helper job
  playbooks/legacy/puppet-openstack-infra-spec-helper-unit-centos-7/run.yaml
  zuul.d/zuul-legacy-jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Update to hacking 3.0
  test-requirements.txt
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-api-ref, build-openstack-api-guide, build-openstack-deploy-guide, build-openstack-install-guide, legacy-tempest-dsvm-neutron-src, openstack-tox-py34

Turn off inline comments on pylint
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Update python-charm-jobs template description
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Use ensure-* roles
  playbooks/javascript/pre.yaml
  playbooks/puppet-tarball/pre.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add Python3 project templates for Victoria release
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add openstack-tox-functional-py38 job
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove legacy infra puppet apply jobs
  playbooks/infra-puppet-apply/post.yaml
  playbooks/infra-puppet-apply/pre.yaml
  playbooks/infra-puppet-apply/run.yaml
  playbooks/infra-puppet-beaker-rspec/run.yaml
  playbooks/legacy/logstash-filters/post.yaml
  playbooks/legacy/logstash-filters/run.yaml
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
  zuul.d/zuul-legacy-jobs.yaml
  zuul.d/zuul-legacy-project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Enable Ussuri translations, stop Stein
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add stable/ussuri to periodic-stable templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add official-openstack-repo-jobs project template
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34
