Repository openstack/openstack-zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-zuul-jobs-test-mirror-info, openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-puppet-tarball, build-openstack-api-ref, build-openstack-api-guide, build-openstack-deploy-guide, build-openstack-install-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, build-openstack-specs-site, project-config-dib, project-config-infra-docs-index, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, promote-api-guide, promote-api-ref, promote-deploy-guide, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Path conditions:
  openstack-zuul-jobs-test-mirror-info: any of: ^roles/mirror-info/.*, ^tests/.*
  openstack-tox-py27: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py35: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pypy: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-cover: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$) or (unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$)
  openstack-tox-functional: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py35: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py36: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-functional-py37: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-pylint: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-snap-with-sudo: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-with-oslo-master-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py27-with-oslo-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-oslo-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-neutron-lib-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-py36-with-ovsdbapp-master: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  openstack-tox-lower-constraints: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^deliverables/.*$
  build-openstack-puppet-tarball: any of: ^metadata.json$
  build-openstack-api-ref: any of: ^os_api_ref/.*, ^api-ref/.*, ^doc/api_samples/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-api-guide: any of: ^api-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-deploy-guide: any of: ^deploy-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  build-openstack-install-guide: any of: ^install-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt
  project-config-gerrit: any of: ^gerrit/acls/.*$, bindep.txt, tools/check_valid_gerrit_projects.py, gerrit/projects.yaml, other-requirements.txt, tools/check_projects_yaml_alphabetized.sh, tools/check_valid_gerrit_config.sh, tox.ini, zuul/main.yaml
  project-config-grafyaml: any of: ^grafana/.*$, bindep.txt, other-requirements.txt, tox.ini
  project-config-irc-access: any of: bindep.txt, accessbot/channels.yaml, gerritbot/channels.yaml, other-requirements.txt, tools/check_irc_access.py, tools/check_channels_yaml.sh, tools/irc_tests.py, tools/normalize_channels_yaml.py, tools/projectconfig_yamllib.py, tox.ini
  project-config-nodepool: any of: ^nodepool/nodepool.yaml, ^nodepool/nl.*yaml$, bindep.txt, other-requirements.txt, tox.ini
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-dib: any of: ^nodepool/elements/.*$, bindep.txt, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  puppet-beaker-rspec-infra: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  puppet-beaker-rspec-puppet-4-infra: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  puppet-beaker-rspec-puppet-4-centos-7-infra: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  openstackci-beaker-puppet-4: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  openstack-infra-extra-integration-xenial: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  openstack-infra-extra-integration-bionic: any of: ^zuul.d/*, ^roles/prepare-zanata-client/.*, ^tests/.*
  promote-api-guide: any of: ^api-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-api-ref: any of: ^os_api_ref/.*, ^api-ref/.*, ^doc/api_samples/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  promote-deploy-guide: any of: ^deploy-guide/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  legacy-puppet-beaker-rspec: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-beaker-rspec-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-3.6-legacy-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-3.8-legacy-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-4.8-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-neutron-src: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$
  legacy-tempest-dsvm-neutron-src-plugin: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  openstack-tox-py34: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$

Switch integrated-gate-py3 template to use new grenade job
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Adding project-template for nodejs10
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Use browser variant for nodejs10 template
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Also trigger Github mirroring on tags
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Use new npm jobs in nodejs[468]-jobs templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Put sphinx-build pdf logs in a separate file
  roles/build-pdf-docs/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Don't run pdf-build if no target available
  roles/build-pdf-docs/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Fix build-pdf-docs working directory
  roles/build-pdf-docs/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

build-pdf-docs: Pass environment
  roles/build-pdf-docs/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add openstack-python38-* templates
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Fix networking bgpvpn tempest plugin to installed in tempest venv
  playbooks/legacy/tempest-dsvm-networking-bgpvpn-bagpipe/run.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Stop configuring install_command in tox.
  tox.ini
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, build-openstack-api-ref, build-openstack-api-guide, build-openstack-deploy-guide, project-config-gerrit, project-config-grafyaml, project-config-irc-access, project-config-nodepool, build-openstack-specs-site, project-config-dib, project-config-infra-docs-index, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, promote-api-guide, promote-api-ref, promote-deploy-guide, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Update include
  roles/configure-swap/tasks/main.yaml
  roles/prepare-docs-for-afs/tasks/main.yaml
  roles/prepare-infra-docs-for-afs/tasks/main.yaml
  tests/extra.yaml
Due: openstack-zuul-jobs-test-mirror-info, openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove duplicated role write-root-marker
  roles/write-root-marker/README.rst
  roles/write-root-marker/defaults/main.yaml
  roles/write-root-marker/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Move wheel build jobs out of project-config
  playbooks/wheel-cache/build.yaml
  playbooks/wheel-cache/post-base.yaml
  playbooks/wheel-cache/pre.yaml
  roles/build-wheel-cache/README.rst
  roles/build-wheel-cache/files/wheel-build.sh
  roles/build-wheel-cache/tasks/main.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

build-wheel-cache: Add virtualenv
  roles/build-wheel-cache/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

wheel-cache: Use train for centos7, ussuri for centos8
  playbooks/wheel-cache/pre.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

build-wheel-cache: update README to be more accurate
  roles/build-wheel-cache/README.rst
Due: legacy-tempest-dsvm-neutron-src-plugin

Allow other projects to run wheel cache jobs
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add wheel build jobs to check
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Add build-wheel-cache-debian-buster*
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Use default bindep_profile for wheels
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

ansible-lint: add 204 rule
  .ansible-lint
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-rpm-package-build: new package build roles
  playbooks/openafs-rpm-package-build/run.yaml
  roles/openafs-rpm-package-build/README.rst
  roles/openafs-rpm-package-build/tasks/main.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-rpm-package-build: add publish job
  playbooks/openafs-rpm-package-build/publish.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-rpm-package-build: ensure artifacts directory
  playbooks/openafs-rpm-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-rpm-package-build: use recursive download
  playbooks/openafs-rpm-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Remove package-afs-centos jobs
  playbooks/package-afs-centos/centos7/post.yaml
  playbooks/package-afs-centos/centos7/run.yaml
  playbooks/package-afs-centos/centos8/post.yaml
  playbooks/package-afs-centos/centos8/run.yaml
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-rpm-package-build: tar results
  playbooks/openafs-rpm-package-build/publish.yaml
  roles/openafs-rpm-package-build/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-rpm-package-build: only run on executor
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-rpm-package-build: trigger publish run
  playbooks/openafs-rpm-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-rpm-package-build: make artifact directories
  playbooks/openafs-rpm-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-rpm-package-build: publish to subdir
  playbooks/openafs-rpm-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

openafs-rpm-package-build: remove files between downloads
  playbooks/openafs-rpm-package-build/publish.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Wheel build jobs: include system-config roles
  zuul.d/jobs.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

wheel-build-cache: skip scipy / scikit-learn on arm64 for now
  roles/build-wheel-cache/files/wheel-build.sh
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

build-wheel-cache: Reduce arm64 builds and various small updates
  playbooks/wheel-cache/post-base.yaml
  roles/build-wheel-cache/files/wheel-build.sh
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Work around uwsgi breakage
  zuul.d/project-templates.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, openstack-infra-extra-integration-xenial, openstack-infra-extra-integration-bionic, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Fix pdf building
  roles/build-pdf-docs/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34

Update echo for pdf-docs to match recent change
  roles/build-pdf-docs/tasks/main.yaml
Due: openstack-tox-py27, openstack-tox-py35, openstack-tox-py36, openstack-tox-py37, openstack-tox-pypy, openstack-tox-cover, openstack-tox-functional, openstack-tox-functional-with-sudo, openstack-tox-functional-py35, openstack-tox-functional-py36, openstack-tox-functional-py37, openstack-tox-pylint, openstack-tox-snap-with-sudo, openstack-tox-with-oslo-master-base, openstack-tox-py27-with-oslo-master, openstack-tox-py36-with-oslo-master, openstack-tox-py36-with-neutron-lib-master, openstack-tox-py36-with-ovsdbapp-master, openstack-tox-lower-constraints, puppet-beaker-rspec-infra, puppet-beaker-rspec-puppet-4-infra, puppet-beaker-rspec-puppet-4-centos-7-infra, openstackci-beaker-puppet-4, legacy-puppet-beaker-rspec, legacy-puppet-beaker-rspec-centos-7, legacy-puppet-unit-3.6-legacy-centos-7, legacy-puppet-unit-3.8-legacy-centos-7, legacy-puppet-unit-4.8-centos-7, legacy-puppet-unit-latest-centos-7, legacy-tempest-dsvm-neutron-src, legacy-tempest-dsvm-neutron-src-plugin, openstack-tox-py34
